body{
    background-color: lightslategray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#heading{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
li{
    color: white;
}
h5{
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    font-size: 100 px;
}
h4{
    color: white;
}
b{
    color: maroon;
}
h6{
    font-family: 'Times New Roman', Times, serif;
    background-color:crimson;
    font-size: x-large;
    border-radius: 50px;
    padding: 20px;
    margin-top: 30px;
    color: wheat;
}
img{
    border-radius:  50px;
    width: 300px;
    height: 200px;
}
.copy_right_footer{
    color: white;
    bottom: 0;
    width:100%;
    background-color: slateblue;
    line-height:3;
    text-align: center;
}